body {
    background: white;
}

#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff
    url('/Rituraj-Mahato/img/Ellipsis-1.9s-200px.gif') no-repeat center;
    z-index: 9999999;
}

.g1 {
    width: 32px;
    margin-right: 15px;
}

.adiv {
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 3px solid #000000;
    margin-bottom: 50px;
    background: #ffffff;
    margin-top: 50px;
}

.head1 {
    text-align: center;
    font-size: 65px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    padding-top: 10px;
}

.m_img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 5px solid #70cee2;
    height: 525px;margin-bottom: 5px;
    font-size: 25px;
    color: var(--white);
}

.t1 {
    text-align: center;
    font-size: 40px;
    color: #70cee2;
    margin-top: -400px;
}
.t2 {
    text-align: center;
    font-size: 40px;
    color: #70cee2;
}

.p1 {
    text-align: center;
    font-size: 25px;
    color: var(--white);
}

.head2 {
    text-align: center;
    font-size: 65px;
    border-radius: 15px;
    border: 3px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    background: #ffffff;
    margin-top: 50px;
}

.head3 {
    text-align: center;
    font-size: 65px;
    border-radius: 15px;
    border: 3px solid #000000;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    margin-top: -10px;
}

/* Larger Devices */

@media (max-width: 1199px){
    .navbar-brand{
        font-size: 16px;
    }
    .nav-link{
        font-size: 16px !important;
    }
    .adiv{
        height: 80px;
    }
    .head1, .head2, .head3{
        font-size: 45px;
    }
    .head4, .head5{
        font-size: 45px !important;
    }
    .m_img{
        height: 400px;
    }
    .t1{
        position: relative;
        top: 75px;
        font-size: 36px;
    }
    .t2{
        position: relative;
        top: 60px;
        font-size: 36px;
    }
    .p1{
        position: relative;
        top: 60px;
        font-size: 22px;
    }
    .p2{
        position: relative;
        top: 60px;
        font-size: 22px;
    }
    .name{
        font-size: 22px !important;
    }
    #cert_1{
        font-size: 18px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 18px !important;
    }
    #cert_3{
        font-size: 18px !important;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
}

/* Medium Devices */


@media (max-width: 991px){
    .navbar-brand{
        font-size: 16px;
    }
    .nav-link{
        font-size: 16px !important;
    }
    .adiv{
        height: 75px;
    }
    .head1, .head2, .head3{
        font-size: 40px;
    }
    .head2{
        margin-top: 100px;
    }
    .head4, .head5{
        font-size: 40px !important;
    }
    .head4{
        position: relative;
        bottom: 125px;
    }
    .head5{
        position: relative;
        bottom: 35px;
    }
    .ful-rit{
        position: relative;
        bottom: 160px;
        text-align: center;
    }
    .res-rit{
        position: relative;
        bottom: 205px;
    }

    .m_img{
        height: 350px;
    }
    .t1{
        position: relative;
        top: 130px;
        font-size: 28px;
    }
    .t2{
        position: relative;
        top: 120px;
        font-size: 28px;
    }
    .p1{
        position: relative;
        top: 120px;
        font-size: 18px;
    }
    .p2{
        position: relative;
        top: 80px;
        font-size: 18px;
    }
    .name{
        font-size: 20px !important;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }

    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 200px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
}

/* Small Devices */

@media (max-width: 767px){
    .navbar-brand{
        font-size: 15px;
    }
    .nav-link{
        font-size: 16px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 40px;
        border: 0;       
    }
    .g1{
        position: relative;
        right: 31px;
    }
    .adiv{
        height: 60px;
    }
    .head1, .head2, .head3{
        font-size: 32px;
    }
    .head2{
        margin-top: 100px;
    }
    .head4, .head5{
        font-size: 32px !important;
    }
    .head3{
        position: relative;
        top: -5px;

    }
    .head4{
        position: relative;
        bottom: 310px;
    }
    .head5{
        position: relative;
        bottom: 15px;
    }
    .ful-rit{
        position: relative;
        bottom: 330px;
        text-align: center;
    }
    .res-rit{
        position: relative;
        bottom: 360px;
    }

    .m_img{
        height: 280px;
    }
    .t1{
        position: relative;
        top: 175px;
        font-size: 24px;
    }
    .t2{
        position: relative;
        top: 160px;
        font-size: 24px;
    }
    .p1{
        position: relative;
        top: 150px;
        font-size: 16px;
    }
    .p2{
        position: relative;
        top: 90px;
        font-size: 16px;
    }
    #E1{
        font-size: 16px !important;
    }
    #E2{
        font-size: 16px !important;
    }
    #E3{
        font-size: 16px !important;
    }
    .description{
        font-size: 14px !important;
    }
    .name{
        font-size: 17px !important;
    }
    .upp_1{
        position: relative;
        bottom: 15px;
    }
    .upp_2{
        position: relative;
        bottom: 200px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }

    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 360px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
}

/* Very Small Device */

@media (max-width: 575px){
    .navbar-brand{
        font-size: 14px;
    }
    .nav-link{
        font-size: 16px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 40px;
        border: 0;       
    }
    .g1{
        position: relative;
        right: 31px;
    }
    .adiv{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 28px;
    }
    .head2{
        margin-top: 120px;
    }
    .head4, .head5{
        font-size: 28px !important;
    }
    .head3{
        position: relative;
        top: 40px;

    }
    .head4{
        position: relative;
        bottom:60px;
    }
    .head5{
        position: relative;
        bottom: 15px;
    }
    .ful-rit{
        position: relative;
        bottom: 80px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 110px;
    }

    .m_img{
        height: 280px;
    }
    .t1{
        position: relative;
        top: 175px;
        font-size: 24px;
    }
    .t2{
        position: relative;
        top: 160px;
        font-size: 24px;
    }
    .p1{
        position: relative;
        top: 150px;
        font-size: 16px;
    }
    .p2{
        position: relative;
        top: 90px;
        font-size: 16px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 14spx !important;
    }
    .name{
        font-size: 16px !important;
    }
    .upp_1{
        position: relative;
        top: 25px;
    }
    .upp_x{
        position: relative;
        top: -25px;
    }
    .upp_2{
        position: relative;
        bottom: 65px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }

    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 100px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 150px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 150px;

    }
}

/* VV Smaller Device*/

@media (max-width: 530px){
    .navbar-brand{
        font-size: 14px;
    }
    .nav-link{
        font-size: 16px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 40px;
        border: 0;  
        font-size: 18px;     
    }
    .g1{
        position: relative;
        right: 28px;
    }
    .adiv{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 26px;
    }
    .head2{
        margin-top: 120px;
    }
    .head4, .head5{
        font-size: 26px !important;
    }
    .head3{
        position: relative;
        top: 40px;

    }
    .head4{
        position: relative;
        bottom:60px;
    }
    .head5{
        position: relative;
        bottom: 15px;
    }
    .ful-rit{
        position: relative;
        bottom: 80px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 110px;
    }

    .m_img{
        height: 280px;
    }
    .t1{
        position: relative;
        top: 180px;
        font-size: 22px;
    }
    .t2{
        position: relative;
        top: 165px;
        font-size: 22px;
    }
    .p1{
        position: relative;
        top: 160px;
        font-size: 14px;
    }
    .p2{
        position: relative;
        top: 90px;
        font-size: 14px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 14spx !important;
    }
    .name{
        font-size: 16px !important;
    }
    .upp_1{
        position: relative;
        top: 25px;
    }
    .upp_x{
        position: relative;
        top: -25px;
    }
    .upp_2{
        position: relative;
        bottom: 65px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }

    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 100px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 100px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 100px;

    }
}

/* EXtra VV Small */

@media (max-width: 469px){
    .navbar-brand{
        font-size: 12px;
    }
    .nav-link{
        font-size: 12px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 40px;
        border: 0;  
        font-size: 18px;     
    }
    .g1{
        position: relative;
        right: 23px;
    }
    .adiv{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 26px;
    }
    .head2{
        margin-top: 130px;
    }
    .head4, .head5{
        font-size: 26px !important;
    }
    .head3{
        position: relative;
        top: 60px;

    }
    .head4{
        position: relative;
        bottom:45px;
    }
    .head5{
        position: relative;
        bottom: 25px;
    }
    .ful-rit{
        position: relative;
        bottom: 80px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 110px;
    }

    .m_img{
        height: 280px;
    }
    .t1{
        position: relative;
        top: 180px;
        font-size: 22px;
    }
    .t2{
        position: relative;
        top: 165px;
        font-size: 22px;
    }
    .p1{
        position: relative;
        top: 160px;
        font-size: 14px;
    }
    .p2{
        position: relative;
        top: 90px;
        font-size: 14px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 12px !important;
    }
    .name{
        font-size: 16px !important;
    }
    .upp_1{
        position: relative;
        top: 45px;
    }
    .upp_x{
        position: relative;
        top: -10px;
    }
    .upp_2{
        position: relative;
        bottom: 50px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }
 
    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 100px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 100px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 100px;

    }
}

/* IPhone Configuration */

@media (max-width: 414px){
    .navbar-brand{
        font-size: 12px;
    }
    .nav-link{
        font-size: 12px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 30px;
        border: 0;  
        font-size: 18px;     
    }
    .g1{
        position: relative;
        right: 15px;
    }
    .adiv{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 26px;
    }
    .head2{
        margin-top: 130px;
    }
    .head4, .head5{
        font-size: 26px !important;
    }
    .head3{
        position: relative;
        top: 60px;

    }
    .head4{
        position: relative;
        bottom:120px;
    }
    .head5{
        position: relative;
        bottom: 25px;
    }
    .ful-rit{
        position: relative;
        bottom: 150px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 180px;
    }

    .m_img{
        height: 230px;
    }
    .t1{
        position: relative;
        top: 220px;
        font-size: 18px;
    }
    .t2{
        position: relative;
        top: 205px;
        font-size: 18px;
    }
    .p1{
        position: relative;
        top: 195px;
        font-size: 10px;
    }
    .p2{
        position: relative;
        top: 90px;
        font-size: 10px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 12px !important;
    }
    .name{
        font-size: 16px !important;
    }
    .upp_1{
        position: relative;
        top: 45px;
    }
    .upp_x{
        position: relative;
        top: -25px;
    }
    .upp_2{
        position: relative;
        bottom: 90px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }
 
    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 180px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 90px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 90px;

    }
}

/* IPhone X */


@media (max-width: 375px){
    .navbar-brand{
        font-size: 12px;
    }
    .nav-link{
        font-size: 12px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 20px;
        border: 0;  
        font-size: 18px;     
    }
    .g1{
        position: relative;
        right: 7px;
    }
    .adiv{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 26px;
    }
    .head2{
        margin-top: 155px;
    }
    .head4, .head5{
        font-size: 26px !important;
    }
    .head3{
        position: relative;
        top: 80px;

    }
    .head4{
        position: relative;
        bottom:170px;
    }
    .head5{
        position: relative;
        bottom: 25px;
    }
    .ful-rit{
        position: relative;
        bottom: 200px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 240px;
    }

    .m_img{
        height: 210px;
    }
    .t1{
        position: relative;
        top: 235px;
        font-size: 18px;
    }
    .t2{
        position: relative;
        top: 225px;
        font-size: 18px;
    }
    .p1{
        position: relative;
        top: 220px;
        font-size: 10px;
    }
    .p2{
        position: relative;
        top: 80px;
        font-size: 10px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 12px !important;
    }
    .name{
        font-size: 14px !important;
    }
    .upp_1{
        position: relative;
        top: 75px;
    }
    .upp_x{
        position: relative;
        top: -35px;
    }
    .upp_2{
        position: relative;
        bottom: 140px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }
 
    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 240px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 80px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 80px;

    }
}

/* IPhone 5 and Samsung S5 */

@media (max-width: 360px){
    .navbar-brand{
        font-size: 10px;
    }
    .nav-link{
        font-size: 10px !important;
    }
    .navbar-toggler{
        position: relative;
        right: 20px;
        border: 0;  
        font-size: 18px;     
    }
    .g1{
        position: relative;
        right: 11px;
    }
    .adiv{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 26px;
    }
    .head2{
        margin-top: 155px;
    }
    .head4, .head5{
        font-size: 26px !important;
    }
    .head3{
        position: relative;
        top: 100px;

    }
    .head4{
        position: relative;
        bottom:200px;
    }
    .head5{
        position: relative;
        bottom: 25px;
    }
    .ful-rit{
        position: relative;
        bottom: 200px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 240px;
    }

    .m_img{
        height: 210px;
    }
    .t1{
        position: relative;
        top: 235px;
        font-size: 18px;
    }
    .t2{
        position: relative;
        top: 225px;
        font-size: 18px;
    }
    .p1{
        position: relative;
        top: 220px;
        font-size: 10px;
    }
    .p2{
        position: relative;
        top: 80px;
        font-size: 10px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 12px !important;
    }
    .name{
        font-size: 14px !important;
    }
    .upp_1{
        position: relative;
        top: 85px;
    }
    .upp_x{
        position: relative;
        top: -35px;
    }
    .upp_2{
        position: relative;
        bottom: 150px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 20px !important;
    }
    #r2{
        font-size: 20px !important;
    }
 
    .res-rit p{
        font-size: 14px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 240px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 80px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 80px;

    }
}


/* For My Phone and Other Similar... */

@media (max-width: 320px){
    .navbar-brand{
        font-size: 10px;
    }
    .nav-link{
        font-size: 10px !important;
    }
    .navbar-toggler{
        position: relative;
        left: 100px;
        border: 0;  
        font-size: 18px;     
    }
    .g1{
        position: relative;
        right: 112px;
    }

    .goog_p{
        position: relative;
        left: 96px;
    }
    .adiv{
        height: 55px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .head1, .head2, .head3{
        font-size: 24px;
    }
    .head2{
        margin-top: 155px;
    }
    .head4, .head5{
        font-size: 24px !important;
    }
    .head3{
        position: relative;
        top: 100px;

    }
    .head4{
        position: relative;
        bottom:300px;
    }
    .head5{
        position: relative;
        bottom: 25px;
    }
    .ful-rit{
        position: relative;
        bottom: 320px;
        text-align:center;
    }

    .res-rit{
        position: relative;
        bottom: 360px;
    }

    .m_img{
        height: 180px;
    }
    .t1{
        position: relative;
        top: 250px;
        font-size: 16px;
    }
    .t2{
        position: relative;
        top: 235px;
        font-size: 16px;
    }
    .p1{
        position: relative;
        top: 230px;
        font-size: 8px;
    }
    .p2{
        position: relative;
        top: 60px;
        font-size: 8px;
    }
    #E1{
        font-size: 18px !important;
    }
    #E2{
        font-size: 18px !important;
    }
    #E3{
        font-size: 18px !important;
    }
    .description{
        font-size: 12px !important;
    }
    .name{
        font-size: 14px !important;
    }
    .upp_1{
        position: relative;
        top: 85px;
    }
    .upp_x{
        position: relative;
        top: -65px;
    }
    .upp_2{
        position: relative;
        bottom: 210px;
    }
    #cert_1{
        font-size: 14px !important;
        margin-top: 18px !important;
    }
    #cert_2{
        font-size: 14px !important;
    }
    #cert_3{
        font-size: 14px !important;
    }

    #r1{
        font-size: 16px !important;
    }
    #r2{
        font-size: 16px !important;
    }
 
    .res-rit p{
        font-size: 12px !important;
    }

    .footer-basic{
        position: relative;
        bottom: 320px;
    }
    .features-clean{
        height: 350px;
    }
    #L1{
        font-size: 16px !important;
    }
    #L2{
        font-size: 16px !important;
    }
    #L3{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 12px !important;
    }
    .icon, .fa{
        font-size: 35px !important;
        position: relative;
        left: 5px;
    }
    .fa-python,.fa-swift,.fa-code,.fa-spotify,.fa-video{
        position: relative;
        left: 55px;
        bottom: 5px;
    }
    #Un{
        position: relative;
        left: 55px;

    }
}




